*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
}

button{
    padding: 2.5rem 6rem;
    background-color: #fff;
    color: #fff;
    font-size: 3rem;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    outline: none;
}

button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 2.3rem;
}

button::before{
    content: "";
    background: linear-gradient(
        45deg,
         #ff0000,#ff7300,#fffb00,#48ff00,
         #00ffd5,#002bff,#ff00c8,#ff0000
    );

    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(30px);
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

button:hover::before{
    opacity: 1;
}

button:active::after{
    background: transparent;
}

button:active{
    color: #000;
    font-weight: bold;
}